# Flutter build directory
/build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
pubspec.lock

# Generated iOS and Android files
android/.gradle/
android/app/debug.keystore
android/key.properties
android/.idea/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/.generated/

# Xcode files
*.xcworkspace/
*.lock
DerivedData/
*.pbxproj

# VS Code settings
.vscode/
.idea/
*.iml

# Log files
*.log
*.tmp

# macOS build files
macos/Flutter/ephemeral/
windows/Flutter/ephemeral/
linux/Flutter/ephemeral/

# Web build files
web/.dart_tool/
web/build/

# Firebase-related files
*.firebase/
firebase.json

# IntelliJ and Android Studio settings
*.iml
*.ipr
*.iws
.idea/
.gradle/
*.jks
local.properties

# Hidden system files
.DS_Store
*.swp
*.swo
*.swn
Thumbs.db

# Dart and Flutter dependencies
pubspec.lock

# Node modules
backend/node_modules/
NextPassAPI/.vs/
NextPassAPI/NextPassAPI/obj/
NextPassAPI/NextPassAPI.Data/obj/
NextPassAPI/NextPassAPI.Identity/obj/
NextPassAPI/NextPassAPI/bin/Debug/
NextPassAPI/NextPassAPI.Data/bin/
NextPassAPI/NextPassAPI.Data/bin/Debug/net8.0/NextPassAPI.Data.pdb

# FVM Version Cache
.fvm/